<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41122832582-4q9jm93o7go7rvepibq2225nimuei0pi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41122832582-4q9jm93o7go7rvepibq2225nimuei0pi</string>
	<key>API_KEY</key>
	<string>AIzaSyB65f4DBWYq7lViqjdGXbq3CVICgHBdRfA</string>
	<key>GCM_SENDER_ID</key>
	<string>41122832582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nordstone</string>
	<key>PROJECT_ID</key>
	<string>nordstone-618f4</string>
	<key>STORAGE_BUCKET</key>
	<string>nordstone-618f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41122832582:ios:bf341192c6bd3060b177c7</string>
</dict>
</plist>